* {
  margin: 0;
  padding: 0;
}

body, head{
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8
}

a{
  color: #000;
  text-decoration: none;
}

/*Scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 10px;
}

/*Header*/

#navBar .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10%;
  padding-left: 10%;
}

#navBar .container ul{
  display: flex;
  padding-right: 1rem;
}

#navBar .container ul li{
  list-style: none;
  margin-left: 10px;
}

#navBar .container ul #noGithub{
  margin-top: 8px;
}

#navBar .container ul li a{
  padding: 20px;
  display: block;
  color: #777;
}

#navBar .container h2{
  color: #777;
}


#navBar ul li a:hover,#navBar ul li a.current{
  color: #242424;
}

/*section*/

#start .container {
  display: flex;
  /* flex-direction: column; */
  height: 70vh;
  align-items: center;
  justify-content: center;
}

#start .container .circleTitle{
  background-color: white;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition-duration: 0.5s;
}

#start .container .circleTitle:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

#start .container .titolo h1{
  font-size: 40px;
  position: relative;
}

#start .FastDescription{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #777;
  font-size: 20px;
  opacity: 100%;
  animation-name: visible;
  animation-duration: 4s;
}

#start .FastDescription #SimpleDescRow{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #777;
  height: 5px;
  width: 325px;
  position: relative;
  top: 10px;
  transition: all 0.5s ease-out; /*Applica questa transizione a tutte le proprieta' / durata / tipo di effetto della transizione*/
}

#start .FastDescription:hover #SimpleDescRow{ /*Se vado sopra a #start .FastDescription mi modifichi hover #SimpleDescRow*/
  width: 200px;
}

#start .divArrow{
  position: block;
  height: 200px;
}

#start .divArrow #downArrow{
  display: flex;
  justify-content: center;
  align-items:center;
  margin-top: 50px;
  color: #777;
  animation: goDownArrow 1s infinite alternate linear;
}

#madeWith .color{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 400px;
}

#madeWith .color h1{
  padding-top: 30px;
  font-size: 30px;
}

#madeWith .color #heart{
  color: #777;
  transition: all 0.5s ease-out;
}

#madeWith .color #heart:hover{
  color: red;
}

#madeWith .color .icons{
  justify-content:center;
  display: flex;
  flex: 1;
  padding-top: 40px
}

#madeWith .color .icons i{
  padding: 50px;
}

#madeWith .color .icons #htm5{
  color: #777;
  transition: all 0.5s ease-out;
}

#madeWith .color .icons #Css{
  color: #777;
  transition: all 0.5s ease-out;
}

#madeWith .color .icons #JS{
  color: #777;
  transition: all 0.5s ease-out;
}

#madeWith .color .icons #htm5:hover{
  color: #ff751a;
}

#madeWith .color .icons #Css:hover{
  color: #3399ff;
}

#madeWith .color .icons #JS:hover{
  color: #ffd11a;
}

#myProjects{
  height: 800px;
}

#myProjects .projectOne{
  opacity: 0;
  transform: translateY(20px); /*Gli diciamo che deve trovarsi a 20px piu' in basso*/
  transition: 0.5 all ease-in-out;
}

#myProjects .projectOneVisible{
  opacity: 1;
  transform: translateY(0);
  background-color: #f8f8f8;
  height: 200px;
  display: flex;
  transition: all 1s ease-out;
}

#myProjects .projectOneVisible #line{
  position: relative;
  top: 70px;
  width: 150px;
  height: 1px;
  background-color: #8f8e8e;
  transition: all 0.5s ease-out;
}

#myProjects .projectOneVisible h3{
  position: relative;
  top: 60px;
  padding-left: 10px;
  color: #8f8e8e;
  transition: all 0.5s ease-out;
}

#myProjects .projectOneVisible .description{
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-out;
}

#myProjects .projectOneVisible .description h1{
  position: relative;
  top: 50px;
  font-size: 40px;
  padding-left: 30px;
  color: #8f8e8e;
  transition: all 0.5s ease-out;
}

#myProjects .projectOneVisible .description p{
  position: relative;
  top: 60px;
  padding-left: 30px;
  color: #8f8e8e;
  transition: all 0.5s ease-out;
}

#myProjects .projectOneVisible:hover{
  background-color: white;
}

#myProjects .projectOneVisible:hover #line{
  background-color: #595959;
  width: 250px;
}

#myProjects .projectOneVisible:hover h3{
  font-size: 25px;
  position: relative;
  top: 50px;
}

#myProjects .projectOneVisible:hover .description h1{
  position: relative;
  top: 30px;
  font-size: 50px;
  color: black;
}

#myProjects .projectOneVisible:hover .description p{
  position: relative;
  top: 40px;
}

#myProjects .projectTwo{
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5 all ease-in-out;
}

#myProjects .projectTwoVisible{
  opacity: 1;
  transform: translateY(0);
  background-color: #f8f8f8;
  height: 200px;
  display: flex;
  transition: all 1s ease-out;
}

#myProjects .projectTwoVisible #line{
  position: relative;
  top: 70px;
  width: 150px;
  height: 1px;
  background-color: #8f8e8e;
  transition: all 0.5s ease-out;
}

#myProjects .projectTwoVisible h3{
  position: relative;
  top: 60px;
  padding-left: 10px;
  color: #8f8e8e;
  transition: all 0.5s ease-out;
}

#myProjects .projectTwoVisible .description{
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-out;
}

#myProjects .projectTwoVisible .description h1{
  position: relative;
  top: 50px;
  font-size: 40px;
  padding-left: 30px;
  color: #8f8e8e;
  transition: all 0.5s ease-out;
}

#myProjects .projectTwoVisible .description p{
  position: relative;
  top: 60px;
  padding-left: 30px;
  color: #8f8e8e;
  transition: all 0.5s ease-out;
}

#myProjects .projectTwoVisible:hover{
  background-color: white;
}

#myProjects .projectTwoVisible:hover #line{
  background-color: #595959;
  width: 250px;
}

#myProjects .projectTwoVisible:hover h3{
  font-size: 25px;
  position: relative;
  top: 50px;
}

#myProjects .projectTwoVisible:hover .description h1{
  position: relative;
  top: 30px;
  font-size: 50px;
  color: black;
}

#myProjects .projectTwoVisible:hover .description p{
  position: relative;
  top: 40px;
}

@keyframes goDownArrow {
  from { padding-top: 50px;}
  to { padding-top: 80px;}
}

@keyframes visible {
  from {opacity: 0;}
  to {opacity: 100%;}
}
